@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply bg-[#f8f4f1];    /* same as dashboard layout background */
  height: 100%;
  scroll-behavior: smooth;
}


#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: orangered;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

#nprogress .peg {
  display: none;
}
